html {
  font-size: 1.5em;
  margin: 10px 5px 0;
  background-color: grey;
}

h1 {
  text-decoration: underline;
  font-size: 50px;
  text-align: center;
}

#choice {
  margin: 40px 20px;
  display: flex;
  justify-content: space-around;
}

.btn {
  font-size: 40px;
  padding: 5px;
}

.btn:hover {
 background-color: skyblue;
 transform: scale(1.1);
}

.symbols {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
  background-color: grey;
}

#container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 210px;
  background-color: white;
}

#outcome {
  text-align: center;
  font-size: 35px;
}

